{{ define "head" }}
  {{- $slug := .Params.district_slug | default "" -}}
  {{- if not $slug -}}
    {{- errorf "District V2: district_slug missing for %s" .RelPermalink -}}
  {{- end -}}

  {{- $districtData := site.Data.primadom.district_pages_v2 -}}
  {{- if eq .Site.Language.Lang "ru" -}}
    {{- $ruData := index site.Data.primadom "ru" -}}
    {{- $districtData = index $ruData "district_pages" -}}
  {{- end -}}
  {{- $p := index $districtData $slug -}}
  {{- if not $p -}}
    {{- errorf "District V2 data not found for slug: %s" $slug -}}
  {{- end -}}

  <link
    rel="canonical"
    href="{{ $p.canonical_url_path | absURL }}"
  >
{{ end }}

{{ define "main" }}
  <link rel="stylesheet" href="{{ "css/primadom/page-district.css" | relURL }}">
  {{ partial "primadom/page-types/district-v2/district_page.html" . }}
{{ end }}
