{{ define "head" }}
  {{- $slug := .Params.district_slug | default "" -}}
  {{- if not $slug -}}
    {{- errorf "District V2: district_slug missing for %s" .RelPermalink -}}
  {{- end -}}

  {{- $districtData := site.Data.primadom.district_pages_v2 -}}
  {{- if eq .Site.Language.Lang "ru" -}}
    {{- $ruData := index site.Data.primadom "ru" -}}
    {{- $districtData = index $ruData "district_pages" -}}
  {{- else if eq .Site.Language.Lang "hi" -}}
    {{- $hiData := index site.Data.primadom "hi" -}}
    {{- $districtData = index $hiData "district_pages" -}}
  {{- else if eq .Site.Language.Lang "zh" -}}
    {{- $zhData := index site.Data.primadom "zh" -}}
    {{- $districtData = index $zhData "district_pages" -}}
  {{- else if eq .Site.Language.Lang "es" -}}
    {{- $esData := index site.Data.primadom "es" -}}
    {{- $districtData = index $esData "district_pages" -}}
  {{- else if eq .Site.Language.Lang "fr" -}}
  {{- $frData := index site.Data.primadom "fr" -}}
  {{- $districtData = index $frData "district_pages" -}}
  {{- else if eq .Site.Language.Lang "de" -}}
    {{- $deData := index site.Data.primadom "de" -}}
    {{- $districtData = index $deData "district_pages" -}}
{{- else if eq .Site.Language.Lang "ar" -}}
  {{- $arData := index site.Data.primadom "ar" -}}
  {{- $districtData = index $arData "district_pages" -}}
{{- end -}}
  {{- $p := index $districtData $slug -}}
  {{- if not $p -}}
    {{- errorf "District V2 data not found for slug: %s" $slug -}}
  {{- end -}}

  <link
    rel="canonical"
    href="{{ $p.canonical_url_path | absURL }}"
  >
{{ end }}

{{ define "main" }}
  <link rel="stylesheet" href="{{ "css/primadom/page-district.css" | relURL }}">
  {{ partial "primadom/page-types/district-v2/district_page.html" . }}
{{ end }}
